body {
  width: 21cm !important;
  margin: 0mm 0mm 0mm 10mm !important;
}
.assessment_results {
  header {
    text-align: center;
    h1 {
      font-size: 3rem;
    }
    h2 {
      margin-top: 10px;
    }
  }
  .title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 16px;
  }
  hr {
    border-top: 1px solid #555555;
    margin-bottom: 2px;
    margin-top: 35px;
  }
  .table-title {
    text-align: left;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: bold;
  }
  table {
    width:100%;
    table-layout: fixed;
    margin-bottom: 20px;
    tr {
      border-bottom: 1px solid #dddddd;
    }
    tr:last-child {
      border-bottom: none;
    }
    td {
      padding: 5px 0px;
      font-size: 1.4rem;
      border-right: 1px solid #dddddd;
    }
    td:last-child {
      text-align: center;
      border-right: none;
    }
  }
  .end-page {
    page-break-after: always;
  }
  .avoid-page-break {
    page-break-inside: avoid;
  }
  .table-container {
    margin-left: 25px;
  }
  .rubric-container {
    margin-left: 25px;
  }
}