@import "inc/bootstrap";
.proctoring-scope {
    .breadcrumbs {
        font-style: italic;
        font-weight: normal;
        font-family: $headingFont;
        @include font-size(11);
        padding: 8px;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
        }

        li:not(:first-child):before {
            @include tao-icon-setup;
            @include icon-right();
            padding: 0 4px 0 8px;
        }
    }

    .deliveries-listing {
        width: 500px;
        margin: auto;
        h1 {
            font-family: $headingFont;
            @include font-size(22);
            font-weight: normal;
        }
        h2 {
            font-family: $headingFont;
            @include font-size(18);
            margin: 30px 0 10px;
        }
        .entry-point-box {
            margin-top: 0
        }
    }

    .delivery-manager {
        width: 800px;
        margin: auto;

        .message {
            padding: 8px;
            text-align: center;
        }
    }
}
