@import "inc/bootstrap";
.proctoring-scope {
    h1 {
        font-family: $headingFont;
        @include font-size(22);
        font-weight: normal;
    }
    h2 {
        font-family: $headingFont;
        @include font-size(18);
        margin: 30px 0 10px;
    }

    table.datatable {
        [class^="icon-"] {
          padding: 0;
        }
    }

    .content {
        margin: auto;
    }

    .testsites-listing, .deliveries-listing {
        .content {
            width: 500px;
        }
    }

    .diagnostic, .report, .delivery-manager, .assign-test-takers {
        .content {
            width: 800px;
        }

        .message {
            padding: 8px;
            text-align: center;
        }
    }

    .list-box {
        .dark {
            .box {
                background: blacken($uiClickableDefaultBg, .1);
            }
        }
    }
}
