@import "inc/bootstrap";
.proctoring-scope {
    h1 {
        font-family: $headingFont;
        @include font-size(22);
        font-weight: normal;
    }
    h2 {
        font-family: $headingFont;
        @include font-size(18);
        margin: 30px 0 10px;
    }

    table.datatable {
        [class^="icon-"] {
          padding: 0;
        }
    }

    .deliveries-listing {
        width: 500px;
        margin: auto;

        .entry-point-box {
            margin-top: 0
        }
    }

    .delivery-manager {
        width: 800px;
        margin: auto;

        .message {
            padding: 8px;
            text-align: center;
        }
    }

    .assign-test-takers {
        width: 800px;
        margin: auto;
    }
}
