@import "inc/bootstrap";
.proctoring-scope {
    h1 {
        font-family: $headingFont;
        @include font-size(22);
        font-weight: normal;
    }
    h2 {
        font-family: $headingFont;
        @include font-size(18);
        margin: 30px 0 10px;
    }

    table.datatable {
        [class^="icon-"] {
          padding: 0;
        }

        td {
            font-size: 90%;
            font-weight: normal;
        }

        .progress {
            .state:not(:first-child):before {
                content: ' - ';
            }
            .item-time:before {
                content: ' (';
            }
            .item-time .total:before {
                content: ' / ';
            }
            .item-time:after {
                content: ')';
            }
        }
    }

    .content {
        margin: auto;
    }

    .testcenters-index, .delivery-index {
        .content {
            width: 500px;
        }
    }

    .diagnostic-index, .reporting-index, .delivery-monitoring, .delivery-testtakers {
        .content {
            width: 800px;
        }

        .message {
            padding: 8px;
            text-align: center;
        }
    }

    .diagnostic-index, .reporting-index {
        .content {
            width: 100%;
            padding: 0 20px;
        }
    }

    .list-box {
        .dark {
            .box {
                background: blacken($uiClickableDefaultBg, .1);
            }
        }
    }
}
